{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Editing Book {% endblock %}
{% block body %}
{% if not is_granted('ROLE_ADMIN') %}
    {% set url = path('Index') %}
    {% set time = 5 %}
    {% include 'redirect.html.twig' with {'url': url, 'time': time} %}
{% else %}
    <h1>Edit book</h1>

    {{form(form)}}
{% endif %}
{% endblock %}